* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'continue';
    src: url('fonts/no-continue/gomarice_no_continue.ttf') format('opentype');
}

#mainBody {
    background-color: black;

}

#mainBodyTitle {
    background-image: linear-gradient(235deg, rgb(9, 206, 255), #cf58ab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 4rem;
}

.playButton {
    background: linear-gradient(135deg, #00ffcc, #00ff99);
    color: black;
    font-size: 2rem;
    padding: 1px 10px;
    margin-top: 10px;
    border: none;
    display: inline-block;
    /* border-radius: 10px; */
    cursor: pointer;
    font-family: 'continue';
    transition: background 0.3s, transform 0.2s;
    
}

.createdBy {
    color: white;
}

.container {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}


