* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'continue';
    src: url('fonts/no-continue/gomarice_no_continue.ttf') format('opentype');
}

#mainBody {
    background-color: black;

}

#mainBodyTitle {
    background-image: linear-gradient(235deg, rgb(9, 206, 255), #cf58ab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 4rem;
}

.playButton {
    background: linear-gradient(135deg, #00ffcc, #00ff99);
    color: black;
    font-size: 2.5rem;
    padding: 1px 10px;
    margin-top: 10px;
    border: none;
    display: inline-block;
    /* border-radius: 10px; */
    cursor: pointer;
    font-family: 'continue';
    min-width: 20%;
    
}

.createdBy {
    color: white;
}

.container {
    text-align: center;
}

#indexContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #333; 
    padding: 20px;
    background-color: #f0f0f0;
}

#questionBodyTitle {
    background-image: linear-gradient(235deg, rgb(9, 206, 255), #cf58ab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 2rem;
}

#pointsTag {
    margin-top: 20px;
    background-image: linear-gradient(150deg, rgb(48, 148, 176), #d1dc53);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 3rem;
}

#question_page_body {
    background-color: rgb(0, 0, 0)
}

#topContainer {
    margin-top: 20px;
}

#questionContainer {
    background-color: #f0f0f0;
    padding: 20px 0px;
    width: 80%;
    margin: 30px auto;
    border: 2px solid #333; 
    padding: 20px;
}

#buttonContainer {
    margin-top: 50px;
}

#questionNumber {
    background-image: linear-gradient(150deg, rgb(48, 148, 176), #d1dc53);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 3rem;
}

#question {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#answer {
    color: #cf58ab;
    font-family: 'continue';
    font-size: 4rem;
}

#resultContainer {
    padding: 20px;
    margin-top: 20px;
    background-color: #000000;
}

#endBodyContainer {
    background-color: #000000;
    padding: 50px 50px 100px 50px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#endBodyTitle {
    background-image: linear-gradient(150deg, rgb(48, 148, 176), #d1dc53);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'continue';
    font-size: 3rem;
}

#playAgainbutton {
    background: linear-gradient(135deg, #00ffcc, #00ff99);
    color: black;
    font-size: 2.5rem;
    padding: 1px 10px;
    margin-top: 10px;
    border: none;
    display: inline-block;
    /* border-radius: 10px; */
    cursor: pointer;
    font-family: 'continue';
    min-width: 20%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
